* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    border: 0;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.thumbnail {
    display: inline-block;
    cursor: pointer;
    height: 60px;
  }
  
  a.thumbnail:hover {
    box-shadow: 5px 5px 5px gray;
  }
  
  .thumbnail img {
    max-height: 100%;
  }

  .links {
      display: block;
  }